<html>
<head>
	<title>New python</title>
	<link type="text/css" rel="stylesheet "href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>
<!-- Header section-->
	<header>
		<img src="static/images/premier-league-logo.png" alt="Premier league logo." />
		<h1>English Premier League</h1>
		<div class="navigation">
			<ul>
				<li>Teams</li>
				<li>Stadiums</li>
				<li>Table</li>
				<li>Rankings</li>
			</ul>
		</div>
	</header>
<!--Jumbotron image-->	
	<div class="home-img">
		<img src="static/images/champions-jumbotron.png" alt="Leicester city champions." />
	</div>
<!--Home sections-->	
	<div class="home-sections">
		<img src="static/images/teams-home.png" alt="Teams section." />
		<img src="static/images/stadiums-home.png" alt="Stadiums section." />
		<img src="static/images/rankings-home.png" alt="Rankings section." />
		<img src="static/images/table-home.png" alt="Table section." />
	</div>
<!--Footer-->
	<footer>
		<ul>
			<li>Teams</li>
			<li>Stadiums</li>
			<li>Table</li>
			<li>Rankings</li>
		</ul>
		<img src="static/images/line.png" alt="Line." />
		<p>&copy; Marcin Augustyn. All rights reserved. 2016</p>
	</footer>
</body>
</html>
