<html>
<head>
	<title>Rankings</title>
	<link type="text/css" rel="stylesheet "href="{{ url_for('static', filename='style.css')}}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<!-- Header section-->
	<header>
		<a href="{{ url_for('index') }}"><img src="http://localhost:5000/static/images/premier-league-logo.png" alt="Premier league logo." /></a>
		<a href="{{ url_for('index') }}"><h1>English Premier League</h1></a>
		<div class="navigation">
			<ul>
				<a href="{{ url_for('teams') }}"><li>Teams</li></a>
				<a href="{{ url_for('stadiums') }}"><li>Stadiums</li></a>
				<a href="{{ url_for('table') }}"><li>Table</li></a>
				<a href="{{ url_for('rankings') }}"><li class="active">Rankings</li></a>
			</ul>
		</div>
	</header>
<!--Content-->	
	<div class="heading">
		<h1>Rankings</h1>
	</div>
<!--Table rankings-->
	<div class="ranking">
		<h2>Premier League Titles</h2>
	</div>
	<table class="ranking-table">
	<!--Table Labels-->
		<tr>
			<th>No. Of PL Titles</th>
			<th>TEAM</th>
		</tr>
			<tr>
				<td>13</td>
				<td>Manchester United</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Chelsea</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Arsenal</td>
			</tr>			
			<tr>
				<td>2</td>
				<td>Manchester City</td>
			</tr>			
			<tr>
				<td>1</td>
				<td>Blackburn Rovers</td>
			</tr>
			<tr>
				<td>1</td>
				<td>Leicester City</td>
			</tr>
	</table>
	<div class="ranking">
		<h2>Top 5 Goalscorers</h2>
	</div>
	<table class="ranking-table">
	<!--Table Labels-->
		<tr>
			<th>No. Of Goals</th>
			<th>Player</th>
			<th>TEAM/s</th>
		</tr>
			<tr>
				<td>260</td>
				<td>Alan Shearer</td>
				<td>Blackburn Rovers, Newcastle United</td>
			</tr>
			<tr>
				<td>194</td>
				<td>Wayne Rooney</td>
				<td>Everton, Manchester United</td>
			</tr>
			<tr>
				<td>187</td>
				<td>Andy Cole</td>
				<td>Newcastle United, Manchester United, Blackburn Rovers, Fulham, Manchester City, Portsmouth</td>
			</tr>			
			<tr>
				<td>177</td>
				<td>Frank Lampard</td>
				<td>West Ham United, Chelsea, Manchester City</td>
			</tr>			
			<tr>
				<td>175</td>
				<td>Thierry Henry</td>
				<td>Arsenal</td>
			</tr>
	</table>
	<div class="ranking">
		<h2>Top 5 No. of Appearances</h2>
	</div>
	<table class="ranking-table">
	<!--Table Labels-->
		<tr>
			<th>No. Of Appearances</th>
			<th>Player</th>
			<th>TEAM/s</th>
		</tr>
			<tr>
				<td>632</td>
				<td>Ryan Giggs</td>
				<td>Manchester United</td>
			</tr>
			<tr>
				<td>609</td>
				<td>Frank Lampard</td>
				<td>West Ham United, Chelsea, Manchester City</td>
			</tr>
			<tr>
				<td>606</td>
				<td>Gareth Barry</td>
				<td>Aston Villa, Manchester City, Everton</td>
			</tr>			
			<tr>
				<td>572</td>
				<td>David James</td>
				<td>Liverpool, Aston Villa, West Ham United, Manchester City, Portsmouth</td>
			</tr>			
			<tr>
				<td>535</td>
				<td>Gary Speed</td>
				<td>Leeds United, Everton, Newcastle United, Bolton Wanderers</td>
			</tr>
	</table>
	<div class="ranking">
		<h2>Top 5 Stadium capacity</h2>
	</div>
	<table class="ranking-table">
	<!--Table Labels-->
		<tr>
			<th>Capacity</th>
			<th>Stadium Name</th>
			<th>TEAM</th>
		</tr>
			<tr>
				<td>75,643</td>
				<td>Old Trafford</td>
				<td>Manchester United</td>
			</tr>
			<tr>
				<td>60,432</td>
				<td>Emirates Stadium</td>
				<td>Arsenal</td>
			</tr>
			<tr>
				<td>60,000</td>
				<td>London Stadium</td>
				<td>West Ham United</td>
			</tr>			
			<tr>
				<td>55,097</td>
				<td>City Of Manchester Stadium</td>
				<td>Manchester City</td>
			</tr>			
			<tr>
				<td>54,074</td>
				<td>Anfield</td>
				<td>Liverpool</td>
			</tr>
	</table>
	<div class="clear"></div>
<!--Footer-->
	<footer>
		<ul>
			<a href="{{ url_for('teams') }}"><li>Teams</li></a>
			<a href="{{ url_for('stadiums') }}"><li>Stadiums</li></a>
			<a href="{{ url_for('table') }}"><li>Table</li></a>
			<a href="{{ url_for('rankings') }}"><li>Rankings</li></a>
		</ul>
		<img src="http://localhost:5000/static/images/line.png" alt="Line." />
		<p>&copy; Marcin Augustyn. All rights reserved. 2016</p>
	</footer>
</body>
</html>
