<html>
<head>
{% for stadium in stadium if stadium.stadium_name == stadium_name %}
	<title>{{ stadium.stadium_full_name }}</title>
{% endfor %}
	<link type="text/css" rel="stylesheet "href="{{ url_for('static', filename='style.css')}}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Header section-->
	<header>
		<a href="{{ url_for('index') }}"><img src="http://localhost:5000/static/images/premier-league-logo.png" alt="Premier league logo." /></a>
		<a href="{{ url_for('index') }}"><h1>English Premier League</h1></a>
		<div class="navigation">
			<ul>
				<a href="{{ url_for('teams') }}"><li>Teams</li></a>
				<a href="{{ url_for('stadiums') }}"><li>Stadiums</li></a>
				<a href="{{ url_for('table') }}"><li>Table</li></a>
				<a href="{{ url_for('rankings') }}"><li>Rankings</li></a>
			</ul>
		</div>
	</header>
<!--Content-->	
	<div class="heading">
	{% for stadium in stadium if stadium.stadium_name == stadium_name %}
		<h1>{{ stadium.stadium_full_name }}</h1>
	{% endfor %}
	</div>
	{% for stadium in stadium if stadium.stadium_name == stadium_name %}
<!-- Responsive stadium images -->
	<section id="responsive-images-breakpoints">
		<div class="container">
			<img class="breakpoint" src="{{ stadium.img_1 }}" width="960" height="640" />
			<img class="breakpoint" src="{{ stadium.img_2 }}" width="960" height="640" />
			<img class="breakpoint" src="{{ stadium.img_3 }}" width="960" height="640" />
			<img class="breakpoint" src="{{ stadium.img_4 }}" width="960" height="640" />
		</div>
<!-- Stadium sections -->		
	</section>
			<div class="stadium-desc">
				<h3>Team Name</h3>
				<p>{{ stadium.full_name }}</p>
			</div>
			<div class="stadium-desc">
				<h3>Capacity</h3>
				<p>{{ stadium.capacity }}</p>
			</div>
			<div class="stadium-desc">
				<h3>Year Built</h3>
				<p>{{ stadium.year_built }}</p>
			</div>
			<div class="stadium-desc">
				<h3>Stadium Owner</h3>
				<p>{{ stadium.owner }}</p>
			</div>
			<div class="stadium-desc">
				<h3>Stadium Location</h3>
				<p>{{ stadium.location }}</p>
			</div>
	{% endfor %}
	<div class="clear"></div>
<!-- Footer -->
	<footer>
		<ul>
			<a href="{{ url_for('teams') }}"><li>Teams</li></a>
			<a href="{{ url_for('stadiums') }}"><li>Stadiums</li></a>
			<a href="{{ url_for('table') }}"><li>Table</li></a>
			<a href="{{ url_for('rankings') }}"><li>Rankings</li></a>
		</ul>
		<img src="http://localhost:5000/static/images/line.png" alt="Line." />
		<p>&copy; Marcin Augustyn. All rights reserved. 2016</p>
	</footer>
</body>
</html>
