<html>
<head>
	<title>Premier League Table 16/17</title>
	<link type="text/css" rel="stylesheet "href="{{ url_for('static', filename='style.css')}}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<!-- Header section-->
	<header>
		<a href="{{ url_for('index') }}"><img src="http://localhost:5000/static/images/premier-league-logo.png" alt="Premier league logo." /></a>
		<a href="{{ url_for('index') }}"><h1>English Premier League</h1></a>
		<div class="navigation">
			<ul>
				<a href="{{ url_for('teams') }}"><li>Teams</li></a>
				<a href="{{ url_for('stadiums') }}"><li>Stadiums</li></a>
				<a href="{{ url_for('table') }}"><li class="active">Table</li></a>
				<a href="{{ url_for('rankings') }}"><li>Rankings</li></a>
			</ul>
		</div>
	</header>
<!--Content-->	
	<div class="heading">
		<h1>Premier League Table 16/17 Season</h1>
	</div>

<!--Premier league Table-->
	<table class="pl-table">
	<!--Table Labels-->
		<tr>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">Position in the league</span>
					#
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">Team</span>
					Team
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">No. of matches played</span>
					P
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">No. of wins</span>
					W
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">No. of draws</span>
					D
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">No. of losses</span>
					L
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">Goals scored</span>
					F
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">Goals against</span>
					A
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">Goal Difference</span>
					GD
				</div>
			</th>
			<th>
				<div class="tooltip">
					<span class="tooltiptext">Points</span>
					PTS
				</div>
			</th>
			
		</tr>
		<!--Looping through JSON data-->
		{% for item in results|sort(attribute='position', reverse=False) %}
			<tr>
				<td class="numbers">{{ item.position }}</td>
				<td><a href=/Team/{{ item.team_name }}>{{ item.full_name }}</a></td>
				<td>13</td>
				<td class="numbers">{{ item.w }}</td>
				<td class="numbers">{{ item.d }}</td>
				<td class="numbers">{{ item.l }}</td>
				<td class="numbers">{{ item.f }}</td>
				<td class="numbers">{{ item.a }}</td>
				<td class="numbers">{{ item.gd }}</td>
				<td class="numbers">{{ item.pts }}</td>
			</tr>
		{% endfor %}
	</table>
	<div class="legend">
		<p><div class="shape-cl"></div> Champions League</p>
	</div>
	<div class="legend">
		<p><div class="shape-clq"></div> Champions League Qualification</p>
	</div>
	<div class="legend">
		<p><div class="shape-eu"></div> Europa League</p>
	</div>
	<div class="legend">
		<p><div class="shape-rlg"></div> Relegation</p>
	</div>
	<div class="clear"></div>
<!--Footer-->
	<footer>
		<ul>
			<a href="{{ url_for('teams') }}"><li>Teams</li></a>
			<a href="{{ url_for('stadiums') }}"><li>Stadiums</li></a>
			<a href="{{ url_for('table') }}"><li>Table</li></a>
			<a href="{{ url_for('rankings') }}"><li>Rankings</li></a>
		</ul>
		<img src="http://localhost:5000/static/images/line.png" alt="Line." />
		<p>&copy; Marcin Augustyn. All rights reserved. 2016</p>
	</footer>
</body>
</html>
