/* Custom font */
@font-face {
  font-family: 'PremierLeague';
  src:url('PremierLeague.ttf') format('truetype');
}

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none;
	color:inherit;
}
/* General styles */
body{
	margin:0px;
	background-color: #fff; 
	font-family: 'PremierLeague';
	color:#3d195b;
	min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
h1{
	font-size:36px;
	font-weight:0;
}
h2{
	font-size:28px;
	font-weight:0;
}
h3{
	font-size:18px;
	font-weight:0;
}
html { 
	height: 100%; 
}
.active{
	color:#0a48c6;
}
.heading{
	text-align:center;
	background-color:#96ffca;
	padding-top:20px;
	padding-bottom:20px;
}
.clear{
	clear:both;
	padding-bottom:150px;
}
/* Header styles */
header{
	text-align:center;
}
header img{
	min-width:5%;
	max-width:20%;
}
header h1{
	padding:10px;
}
/* Navigation styles */
.navigation{
	background-color:#37fa97;
	width:100%;
}

.navigation ul{
	list-style:none;
	padding-top:15px;
	padding-bottom:15px;
	font-size:20px;
}
.navigation ul li{
	text-decoration:none;
	display:inline;
	padding-left:10px;
	padding-right:10px;
}
/* Section styles */
.home-img img{
	width:100%;
}
.home-sections img{
	float:left;
	margin:2.5%;
	width:45%;
}
.team{
	width:15%;
	padding:2.5%;
	text-align:center;
	float:left;
}
.team p{
	margin-top:20px;
	height:20px;
}
.team img{
	width:80%;
}
.team-section1{
	width:33%;
	text-align:right;
	float:left;
	margin-top:150px;
	line-height:3;
}
.team-section2{
	width:33%;
	text-align:center;
	float:left;
}
.team-section2 img{
	max-width:80%;
	min-width:60%;
}
.team-section3{
	width:33%;
	text-align:left;
	float:left;
	margin-top:150px;
	line-height:3;
}
.team-section3 a{
	color:#5b0f99;
}
.stadium-mini{
	width:20%;
	padding:2.5%;
	text-align:center;
	float:left;
}
.stadium-mini img{
	width:80%;
	margin-bottom:20px;
}
.stadium-mini p{
	height:20px;
}
.stadium-desc{
	width:20%;
	float:left;
	text-align:center;
}
.stadium-desc p{
	color:#5b0f99;
}
.about{
	clear:both;
	text-align:left;
	line-height:2;
	width:70%;
	margin-left:15%;
	margin-right:15%;
	padding-bottom:50px;
}
/* Footer styles */
footer{
	background-color:#37fa97;
	text-align:center;
	padding:20px;
	clear:both;
	position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height];
}
footer ul{
	list-style:none;
	margin-top:15px;
	padding-bottom:15px;
	font-size:18px;
}
footer ul li{
	text-decoration:none;
	display:inline;
	padding-left:20px;
	padding-right:20px;
}
footer p{
	padding:10px;
	font-size:12px;
}
footer img{
	opacity:0.5;
	max-width:100%;
	max-height:100%;
}
/* Table styles */
.numbers {
	text-align:center;
}
table {
    border-collapse: collapse;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

td, th{
    border: 2px solid #dddddd;
    text-align: ;
    padding: 10px;
}
.position tr td {
    background: red;
}
.pl-table tr:nth-child(2) {
    background-color: #96ccff;
}
.pl-table tr:nth-child(3) {
    background-color: #96ccff;
}
.pl-table tr:nth-child(4) {
    background-color: #96ccff;
}
.pl-table tr:nth-child(5) {
    background-color: #9d96ff;
}
.pl-table tr:nth-child(6) {
    background-color: #fff696;
}
.pl-table tr:nth-child(19) {
    background-color: #f0a8a8;
}
.pl-table tr:nth-child(20) {
    background-color: #f0a8a8;
}
.pl-table tr:nth-child(21) {
    background-color: #f0a8a8;
}
.legend {
    border-collapse: collapse;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
.shape-cl{
	width:20px;
	height:20px;
	float:left;
	background:#96ccff;
	margin-right:5px;
	border: 2px solid #dddddd;
}
.shape-clq{
	width:20px;
	height:20px;
	float:left;
	background:#9d96ff;
	margin-right:5px;
	border: 2px solid #dddddd;
}
.shape-eu{
	width:20px;
	height:20px;
	float:left;
	background:#fff696;
	margin-right:5px;
	border: 2px solid #dddddd;
}
.shape-rlg{
	width:20px;
	height:20px;
	float:left;
	background:#f0a8a8;
	margin-right:5px;
	border: 2px solid #dddddd;
}
.ranking{
	padding-top:20px;
	text-align:center;
}
.ranking-table{
	text-align:center;
}
/* Error handling styles */
.error{
	padding-top:;
	text-align:center;
	padding-top:8%;
	padding-bottom:8%;
}
.error h1{
	padding:20px;
}
.error h2{
	padding:20px;
}
.error h3{
	padding:20px;
	color:#5b0f99;
}
.error img{
	width:10%;
}
/* Stadium images styles */
section img {
	width: 100%;
	height: auto;
	margin-bottom:5px;
}
/* Demo Page Styles: Layout */
.container {
	position: relative;
	width: 96%;
	margin: 0 auto;
	text-align: center;
}
section {
	margin: 20px auto;
}
 /* W3C CSS for Tooltip */
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* Responsive styles */
@media (min-width: 760px) {
	.breakpoint {
		max-width: 24%;
	}
}
@media (max-width: 760px) {
	.home-img img{
		width:100%;
	}
	.home-sections img{
		float:left;
		margin:5%;
		width:90%;
	}
	.team{
		width:45%;
		padding:2.5%;
	}
	.team p{
		padding:50px;
		height:50px;
	}
	.team img{
		width:90%;
	}
	.stadium-mini{
		width:45%;
		padding:2.5%;
	}
	.stadium-desc{
		width:96%;
		text-align:center;
		padding:2%;
	}
	.team-section1{
		width:90%;
		text-align:center;
		float:none;
		margin-top:20px;
		padding:5%;
	}
	.team-section2{
		width:60%;
		text-align:center;
		float:none;
		padding-left:20%;
		padding-right:20%;
	}
	.team-section2 img{
		max-width:80%;
		min-width:60%;
	}
	.team-section3{
		width:90%;
		text-align:center;
		float:none;
		margin-top:20px;
		padding:5%;
	}
	header{
		text-align:center;
	}
	header img{
		min-width:10%;
		max-width:20%;
	}
	h1{
		font-size:28px;
	}
	h2{
		font-size:18px;
	}
	h3{
		font-size:12px;
	}
	
}
@media (max-width: 460px) {
	.team{
		width:90%;
		padding-left:5%;
		padding-right:5%;
		padding-top:1%;
		padding-bottom:2.5%;
	}
	.team p{
		padding-top:30px;
		height:0;
	}
	.team img{
		width:90%;
	}
	.stadium-mini{
		width:90%;
		padding:5%;
	}
	.stadium-desc{
		margin-bottom:20px;
		height:30px;
	}
	.about{
		padding-bottom:150px;
	}
	footer{
		margin-top:40px;
	}
}